body{
	font-family: '微软雅黑';
	min-width: 800px;
	background-size: cover;
	background: url('../images/1.jpg') no-repeat 50% 80%; 
}
#jisuanqi{
	border-radius: 15px;
	width: 100%; 
	height: 620px;
	
	position: relative;
}

.pingmu{
	width: 800px;
	height: 610px;
	background: #676168;
	margin-left: 100px;
	margin-top: 20px;
	border-radius: 10px;
}
.jiemian{
	width: 764px;
	height: 450px;
	
	margin: 0  auto;
}
.header{
	height: 15px

}
.jieguo{
	height: 60px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
}
.xianshiqi{
	margin-top: 10px;
	width: 754px;
	height: 120px;
	border: 5px solid #222;
	background:#999;
	border-radius: 6px;
	position: relative;
}
.yunsuan{
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 50px;
	line-height: 60px;
	text-align: center;

}

.anjian{
	background: #676168;
	padding-top: 12px;
	position: relative;

}
.btn{
	float: left;
	width: 83px;
	height: 60px;
	border:  1px solid #6A6969;
	border-radius: 6px;
	background: #fff;
	color: #000;
	text-align: center;
	line-height: 60px;
	margin: 0 11px 10px 0;
	font-size: 1.5em;
	font-weight: bold;
	box-shadow:  0 0 8px #635F5F inset;
	cursor: pointer;
}
.btn:hover{
	background:#00CBFF; 
}
.right{
	margin:0 0 10px 0 ;
}
.kuan{
	width: 180px;
}
.chang{
	height: 133px;
	position: absolute;
	top: 300px;
	right: 5px;
	margin: 0;
	line-height: 138px;
	background: #FFF500;
}
.hui{
	background: #6AA4AE;
	color: #fff;
	box-shadow: 0 0 8px #3C3C3C inset;
}
.hei{
	background: #000;
	color: #fff;
	box-shadow: 0 0 8px #8A8A8A inset;
}
.shuru{
	font-size: 70px;
	
	
}
#rember{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -10px;
	left:0px;
	font-size: 30px;
	display: none;
	z-index: 1000;

}